# Name:- Sonali Ganesh Magar
# Class:- IF5K
# Task:- Homework2

# Tuple Methods

In [1]:
#Returns how many times a value appears in the tuple.
t = (1, 2, 3, 2, 4, 2)
print(t.count(2))

3

In [2]:
#Returns the first index of a value.
t = (10, 20, 30, 20)
print(t.index(20))

1

In [3]:
#Returns the number of elements.
t = (5, 10, 15)
print(len(t))

3

In [4]:
#Gives the smallest and largest value.
t = (4, 1, 9, 2)
print(min(t)) 
print(max(t))

1
9

In [5]:
#Adds up all numeric values in the tuple.
t = (1, 2, 3)
print(sum(t))

6

In [6]:
#Checks if a value exists in the tuple.
t = ('apple', 'banana', 'cherry')
print('banana' in t)

True